* {
  font-family: 'Archivo', sans-serif;
}

.inputAndButtonContainer {
  /* border: 2px solid red; */
  width: 300px;
  height: 50px;
  margin-top: 100px;
  margin-left: 50px;
}

.addTaskButton {
  width: 80px;
  height: 35px;
  border-radius: 0px 7px 7px 0px;
  /* background-color: #e4d9ff; */
  background-color: #8a62d3;
  border: none;
  cursor: pointer;
  color: whitesmoke;
  font-weight: bold;
}

.addTaskText {
  font-weight: bold;
  color: whitesmoke;
}

.addTaskButton:hover {
  opacity: 0.6;
  background-color: #8a62d3;
  border: 0px 5px 5px 5px solid #8a62d3;
}

.input {
  width: 200px;
  height: 35px;
  border: 1.5px solid #8a62d3;
  border-radius: 7px 0px 0px 7px;
  padding-left: 10px;
}

.alertContainer {
  position: absolute;
  top: 50px;
  background-color: #ef7a85;
  color: ghostwhite;
  border-radius: 7px;
}

.textArea {
  width: 180px;
  height: 30px;
  display: flex;
  justify-content: center;
  font-weight: bold;
  align-items: center;
  font-size: 13px;
}

.inputAndButtonSub {
  display: flex;
}
